
.row1 img{
	width: 80px;
height: 80px;
}
.row1 li1{
text-align: center;
margin-left: 38%;
}
.row1 li2{
text-align: center;
margin-left: 1%;
}
.row1 li3{
text-align: center;
margin-left: 1%;
}

.jumbotron{
	height: auto;
	background-image-size: auto;
}
.jumbotron h1{
	text-align: center;
	font-size: 60px;
	font-family: Lucida Bright;
}
.jumbotron h2{
	text-align: center;
}
.jumbotron p{
	text-align: left;
	margin-left: 30%;
	font-family: ;
}
.jumbotron img{
		width: 30px;
height: 30px;
}
.jumbotron span{
	font-size: 30px;
}
.sub h2{
	text-align: center;
}

.carousel-inner img{
	width: 1200px;
	height: 820px;
}

.Projects h4{
	text-align: center;
	font-size: 60px;
	font-family: Lucida Bright;
}
.Projects img{
	width: 500px;
	height: 350px;
}
.sub h2{
	text-align: center;
	font-size: 60px;
	font-family: Lucida Bright;
}
